soc-venv
x.json
social network/level1/level1_1.out
social network/level1/level1_2.out
social network/level1/level1_3.out
social network/level2/level2_1.out
social network/level2/level2_2.out
social network/level2/level2_3.out